
.game-board {
    position: relative;
    width: 800px;
    height: 600px;
    border: 2px solid black;
    margin-top: 20px;
    overflow: hidden;
    background-image: linear-gradient(to right, gray 1px, transparent 1px), linear-gradient(to bottom, green 1px, transparent 1px);
    background-size: 60px 60px;
   
}

.vehicle {
    position: absolute;
    padding: 5px;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 3px;
    text-align: center;
}

.hidden {
    display: none;
}

.controls {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
}

.vehicle-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.vehicle-table th,
.vehicle-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.vehicle-table th {
    background-color: #f2f2f2;
    text-align: left;
}