/* App.css */

.App {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #343a40;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar-header {
  margin-bottom: 30px;
}

.sidebar-header h2 {
  color: #fff;
  margin: 0;
}

.sidebar-nav ul {
  list-style-type: none;

  padding: 0;
  width: 100%;
}

.sidebar-nav li {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

.sidebar-nav a {
  color: #adb5bd;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-nav a:hover {
  background-color: #495057;
  color: #fff;
}

.main-content {
  margin-left: 200px;
 
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
 
  align-items: center;
 
  min-height: 100vh;
  background-color: #f8f9fa;
}

.home-page,
.scenario-form,
.vehicle-form {
  width: 100%;
  max-width: 800px;
 
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.simulation {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid #000;
  overflow: hidden;
}

.vehicle {
  width: 50px;
  height: 50px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}